<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Stock Predictor</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Stock Prediction</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Neural Network
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button id="ff" class="dropdown-item" type="button">Feed Forward</button>
                <button id="rnn" class="dropdown-item" type="button">RNN</button>
                <button id="lstm" class="dropdown-item" type="button">LSTM</button>
              </div>
            </li>
          </ul>

          <div class="form-row">
            <div class="col-5">
              <input type="text" class="form-control mr-sm-2" name="start" value="01/01/2019" />
            </div>
            <div class="col-5">
              <input type="text" class="form-control mr-sm-2" name="end" value="12/31/2019" />
            </div>
          </div>

          <form id="searchForm" class="form-inline my-2 my-lg-0">
            <input id="searchText" class="form-control mr-sm-2" type="search" placeholder="Enter stock e.g 'TSLA'" aria-label="Enter stock e.g 'TSLA'">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Predict</button>
          </form>
        </div>
      </nav>
</head>

<body>
    <div id="plot"></div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <script src="../static/main.js"></script>

    <script>
      $(function() {
        $('input[name="start"]').daterangepicker({
          singleDatePicker: true,
          showDropdowns: true,
          minYear: 1901,
          maxYear: parseInt(moment().format('YYYY'),10)
        }, function(start, end, label) {
          var years = moment().diff(start, 'years');
          let date = start.format('YYYY-MM-DD');
          handle_date(date, start=true);
        });
      });

      $(function() {
        $('input[name="end"]').daterangepicker({
          singleDatePicker: true,
          showDropdowns: true,
          minYear: 1901,
          maxYear: parseInt(moment().format('YYYY'),10)
        }, function(start, end, label) {
          var years = moment().diff(start, 'years');
          let date = start.format('YYYY-MM-DD');
          handle_date(date, start=false);
        });
      });
      </script>

</body>
</html>